body {
	width: 100%; 
}
.caja {
	width: 100px;
	height: 100px;
	background-color: blue;
	transition: ease 5s;
	position: relative;
	animation-name: prueba;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes prueba {
	0% {
		transform: translateX(0);
	}
	100% {
		transform:translateX(100%)
	}
}
