:root {
	--fondo: #f7f7f7;
	--principal: #79af95;
	--secundario: #79aeaf;
	--principal-claro: #9fcfb3;
	--complementario: #af7993;
	--morado: #7a79af;
	--cafe: #af9579;
	--number1: 4deg;
	--number2: -4deg;
	--height: 200vh;
}
* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: var(--fondo);
}
.contenedorDate {
	width: 100%;
	height: 100vh;
	color: var(--principal);
	display: flex;
	font-size: 2.5em;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.days {
	text-align: center;
}
