:root {
	--number1: 4deg;
	--number2: -4deg;
}
.head {
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
}
.oscuro-claro {
	display: flex;
	justify-content: end;
	width: 80%;
}
.svg {
	transition: linear 5s;
	animation-name: lampara;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
@keyframes lampara {
	0% {
		transform: rotate(var(--number1));
	}
	50% {
		transform: rotate(var(--number2));
	}
	100% {
		transform: rotate(var(--number1));
	}
}
