/* Móviles en vertical */
@media screen and (max-width: 500px) {
	* {
		margin: 0px 0px 0px 0px;
	}
	body {
		font-family: "Roboto", sans-serif;
		background-color: white;
	}
	body::-webkit-scrollbar {
		width: 0px;
	}
	body::-webkit-scrollbar-thumb {
		background-color: black;
		border-radius: 0px;
		border-right: 0px;
	}
	.Encabezado {
		font-size: 23px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: "Roboto Slab", serif;
		text-align: center;
		height: 300px;
	}
	.Titulo_Encabezado {
		margin-bottom: 0px;
	}
	.SubtituloPrincipal {
		padding-top: 0px;
		margin-top: 0px;
		font-size: 15px;
	}

	/* PrimerSector */
	.PrimerSector {
		display: block;
		width: 100%;
		font-size: 15px;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
		transition: 0s;
		overflow: unset;
		position: relative;
	}
	.PrimerSector:hover {
		background-color: unset;
	}
	.PrimerSector:hover .TercetoUno {
		background-color: unset;
	}
	.container_1 {
		/* background-color: chocolate; */
		display: block;
		/* align-items: center; */
	}
	.Contenedor-imagen-terceto {
		display: flex;
		width: 100%;
		background-color: black;
	}
	.TercetoUno {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40%;
		height: auto;
		font-size: 11px;
		writing-mode: vertical-lr;
		/* background-color: beige; */
		text-align: center;
		transition: 4s;
		margin: 0px 0px 0px 0px;
		padding: 10px 0px 10px 0px;
		background-color: #e5e5e5;
		opacity: 0%;
	}
	.Imagen1:hover .TercetoUno {
	  opacity: 100%;
	}
	.Img-1 {
		transition: 1s;
		filter: brightness(unset);
		filter: opacity(20%);
		height: auto;
		width: 60%;
		margin: 0px 0px 30px 10px;
		border-radius: 0px 0px 20px 20px;
		transition: 4s;
	}
	.Imagen1 {
		display: flex;
		/* background-color: aqua; */
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;
		bottom: 280px;
		right: 0px;
		left: 0px;
		transition: 3s;
		border-radius: 0px 0px 20px 20px;
	}
	.Imagen1:hover {
		position: relative;
		bottom: 0px;
		background-color: #e5e5e5;
	}
	.Img-1:hover {
		filter: brightness(1);
		filter: opacity(100%);
	}
	.Main-Uno {
		width: 100%;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0px 0px 10px 0px;
		border-radius: 50px 50px 0px 0px;
		z-index: 100000000000000;
		position: relative;
	}
	.SubTitle_Main-Uno {
		margin: 0px 0px 20px 0px;
	}

	/* SegundoSector */
	.SegundoSector {
		display: block;
		font-size: 22px;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
		transition: 0s;
		overflow: unset;
	}
	.SegundoSector:hover {
		background-color: #fff;
	}
	.SegundoSector:hover .TercetoDos {
		background-color: #fff;
	}
	.TercetoDos {
		display: block;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 20px;
		writing-mode: unset;
		/* background-color: beige; */
		text-align: unset;
		transition: 0s;
		margin: 0px 0px 0px 0px;
	}
	.container_2 {
		/* background-color: chocolate; */
		display: block;
		/* align-items: center; */
	}
	.Main-Dos {
		/* background-color: aqua; */
		width: 100%;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}

	.SubTitle_Main-Dos {
		margin: 0px 0px 50px 0px;
	}

	/* Imagenes */
	.Img-2 {
		transition: 1s;
		filter: brightness(1);
		width: 100%;
		height: auto;
		border-radius: 0px;
		margin: auto 0px 20px 0px;
	}
	.Imagen2 {
		width: 100%;
		height: auto;
		display: block;
		/* justify-content: center; */
		/* align-items: center; */
		/* flex-direction: column; */
		/* background-color: black; */
	}
	.Img-2:hover {
		filter: brightness(1);
	}
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) {
}

/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) {
}

/* Escritorios muy anchos */
@media (min-width: 1200px) {
}
