/* Móviles en vertical */
@media screen and (max-width: 500px) {
	* {
		margin: 0px 0px 0px 0px;
	}
	body {
		font-family: "Roboto", sans-serif;
		background-color: white;
	}
	body::-webkit-scrollbar {
		width: 0px;
	}
	body::-webkit-scrollbar-thumb {
		background-color: black;
		border-radius: 0px;
		border-right: 0px;
	}
	.Encabezado {
		font-size: 23px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: "Roboto Slab", serif;
		text-align: center;
		height: 300px;
	}
	.Titulo_Encabezado {
		margin-bottom: 0px;
	}
	.SubtituloPrincipal {
		padding-top: 0px;
		margin-top: 0px;
		font-size: 15px;
	}

	/* hovers */
	.PrimerSector:hover {
		background-color: unset;
	}
	.PrimerSector:hover .TercetoUno {
		background-color: unset;
	}
	.Imagen1:hover {
		position: relative;
		bottom: 0px;
		background-color: #e5e5e5;
	}
	.Imagen1:hover .TercetoUno {
		opacity: 100%;
	}
	.Img-2:hover {
		filter: brightness(1);
		filter: opacity(100%);
	}
	.Img-1:hover {
		filter: brightness(1);
		filter: opacity(100%);
	}
	.SegundoSector:hover {
		background-color: #fff;
	}
	.SegundoSector:hover .TercetoDos {
		background-color: #e5e5e5;
		opacity: 100%;
	}
	.Imagen2:hover {
		filter: brightness(1);
		position: absolute;
		top: -320px;
		background-color: #e5e5e5;
	}

	.SegundoSector {
		display: block;
		width: 100%;
		font-size: 15px;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
		transition: 4s;
		overflow: unset;
		position: relative;
	}
	.PrimerSector {
		display: block;
		width: 100%;
		font-size: 15px;
		margin: 0px 0px 20px 0px;
		border-radius: 0px;
		transition: 4s;
		filter: brightness(1);
		overflow: unset;
		position: relative;
	}
	.SubTitle_Main-Uno {
		margin: 0px 0px 20px 0px;
	}
	.TercetoUno {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40%;
		height: auto;
		font-size: 11px;
		writing-mode: vertical-rl;
		/* background-color: beige; */
		text-align: center;
		transition: 4s;
		margin: 0px 0px 0px 0px;
		padding: 10px 0px 10px 0px;
		background-color: #e5e5e5;
		opacity: 0%;
	}

	.TercetoDos {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40%;
		height: auto;
		font-size: 11px;
		writing-mode: vertical-rl;
		background-color: #e5e5e5;
		text-align: center;
		transition: 4s;
		margin: 10px 0px 0px 0px;
		opacity: 0%;
	}
	.container_1 {
		/* background-color: chocolate; */
		display: block;
		/* align-items: center; */
	}
	.container_2 {
		/* background-color: chocolate; */
		display: block;
		/* align-items: center; */
	}
	.Main-Uno {
		width: 100%;
		margin: 0px 0px 0px 0px;
		background-color: white;
		text-align: center;
		padding: 0px 0px 10px 0px;
		border-radius: 50px 50px 0px 0px;
		z-index: 100000000000000;
		position: relative;
	}
	.Main-Dos {
		background-color: #fff;
		text-align: center;
		width: 100%;
		padding: 10px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		z-index: 100000000000000;
		position: relative;
	}
	.SubTitle_Main-Dos {
		margin: 0px 0px 50px 0px;
	}
	.Imagen1 {
		display: flex;
		/* background-color: aqua; */
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;
		bottom: 280px;
		right: 0px;
		left: 0px;
		transition: 4s;
		border-radius: 0px 0px 20px 20px;
	}
	.SpotifyCode {
	  justify-content: center;
	  height: 100%;
	  width: 100%;
	}
	.Imagen2 {
		display: flex;
		position: absolute;
		/* background-color: aqua; */
		width: 100%;
		height: auto;
		/* justify-content: center; */
		/* align-items: center; */
		flex-direction: row;
		/* background-color: black; */
		transition: 4s;
		border-radius: 20px 20px 0px 0px;
		top: -38px;
	}
	.Img-2 {
		filter: brightness(1);
		filter: opacity(20%);
		height: auto;
		width: 60%;
		margin: 30px 10px 0px 10px;
		border-radius: 20px 20px 0px 0px;
		transition: 4s;
	}
	.Img-1 {
		filter: brightness(unset);
		filter: opacity(20%);
		height: auto;
		width: 60%;
		margin: 0px 0px 30px 10px;
		border-radius: 0px 0px 20px 20px;
		transition: 4s;
	}
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) {
}

/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) {
}

/* Escritorios muy anchos */
@media (min-width: 1200px) {
}
