:root {
	--fondo: #f7f7f7;
	--principal: #79af95;
	--secundario: #79aeaf;
	--principal-claro: #9fcfb3;
	--complementario: #af7993;
	--morado: #7a79af;
	--cafe: #af9579;
	--number1: 4deg;
	--number2: -4deg;
	--height: 260vh;
}
* {
	padding: 0;
	margin: 0;
}
body {
	width: 100vw;
	height: var(--height);
	font-family: "Montserrat";
	background-color: var(--fondo);
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	width: 6px;
}
body::-webkit-scrollbar-thumb {
	/*background-color: white;*/
	width: 5px;
	border-radius: 5px;
	background-color: var(--secundario);
}
h2,
h1,
h3,
p {
	text-align: center;
}
.Contenedor_carga {
	width: 99%;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: aqua;
}
.carga {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Airplane {
	width: 100vw;
	height: 80vh;
	background-color: var(--fondo);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.boxAirplane,
.boxAirplane2 {
	position: relative;
	width: 600px;
	height: 600px;
	animation: avion 5s infinite linear;
	border-radius: 50%;
	border: 1px solid;
	/*background-color: aqua;*/
	border-color: transparent transparent transparent black;
}
.boxAirplane2 {
	border-color: transparent transparent transparent white;
}
.boxAirplane2::after,
.boxAirplane::after {
	content: "";
	position: absolute;
	top: 80px;
	left: 30px;
	transform: rotateZ(-45deg);
	width: 10vh;
	height: 5vh;
	/*background-color: #cccccc;*/
	background-image: url("../Imagenes/Airplane.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.boxAirplane2::after {
	background-image: url("../Imagenes/Airplane.svg");
	filter: invert(1);
}
.earth {
	width: 500px;
	height: 500px;
	background-image: url(../Imagenes/Background.svg);
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	animation: earth 60s infinite linear;
	box-shadow: 0px 0px 35px white;
}
@keyframes earth {
	from {
		background-position: left center;
	}
	to {
		background-position: 1000px center;
	}
}
@keyframes avion {
	100% {
		transform: rotate(360deg);
	}
}
.fechas {
	width: 200px;
	display: flex;
	justify-content: space-around;
}
.tiempoTranscurrido {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 15%;
	width: 100%;
	background: var(--principal);
	color: var(--fondo);
}
.mensajeMes {
	margin-top: 1.5%;
	width: 30%;
}
.numero_month{
	width: 100%;
}
.month {
	width: 100%;
}
.dosPuntos {
	font-size: 3rem;
}
.header {
	width: 100%;
	height: 20vh;
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--fondo);
	z-index: 10000;
}
.head {
	width: 90%;
	height: 100%;
	font-family: "Montserrat";
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: var(--principal);
}
.spotify {
	margin-right: 5%;
}
.ImgSp {
	width: 100px;
	height: 100px;
	/*background-color: green;*/
}
.titulos {
	text-align: center;
}
.tituloPrincipal {
	text-decoration: none;
	color: var(--principal);
	cursor: text;
	font-size: 2rem;
}
.subtituloPrincipal {
	font-size: 1.7rem;
	color: var(--complementario);
}
.solLuna {
	display: none;
}
.Sol {
	animation: sol 10s infinite linear;
}
.Luna {
	animation: moon 2s infinite linear alternate;
	filter: drop-shadow(0 0 10px white);
}
.Contenedor_main {
	/*background-color: green;*/
	width: 100%;
	height: 200vh;
	display: flex;
}
.sideBar {
	width: 5%;
	height: 100%;
	/*background-color: aqua;*/
	display: none;
}
.Iconos {
	width: 100%;
	height: 50%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.icono_casa {
	width: 40%;
	cursor: pointer;
}
.main {
	width: 100%;
	height: 100%;
	/*background-color: #000;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.apartado1 {
	width: 90%;
	height: 70vh;
	display: flex;
	border-radius: 20px;
	transition: ease 1s;
	/*display: none;*/
}
.apartado1:hover {
	box-shadow: 0px 0px 30px 0px var(--secundario);
}
.apartado1:hover .subTitle {
	color: var(--secundario);
}
.apartado2 {
	width: 90%;
	height: 70vh;
	/*background-color: violet;*/
	display: flex;
	border-radius: 20px;
	transition: ease 1s;
}
.apartado2:hover {
	box-shadow: 0px 0px 30px 0px var(--morado);
}
.apartado2:hover .subTitle {
	color: var(--morado);
}
.Izquierda {
	width: 55%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 20px 0px 0px 20px;
	transition: 1s ease;
}
.Img1 {
	/*background-color: green;*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease 1s;
	border-radius: 20px 0px 0px 0px;
}
.imagen1 {
	height: 80%;
}
.imagen2 {
	width: 80%;
}
.imagen1,
.imagen2 {
	/*horizontal-Images*/
	/*width: 80%;*/
	/*Vertical-Image*/
	border-radius: 50px;
	object-fit: cover;
	transition: ease 1s;
	background-color: green;
	/*opacity: 0.7;*/
}
.Poema {
	height: 100%;
	width: 45%;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: ease 1s;
	border-radius: 0px 20px 20px 0px;
	transition: 1s ease;
}
.subTitle {
	/*background-color: green;*/
	text-align: center;
	margin: 5% 0 5% 0;
	font-size: 1.2rem;
	transition: 2s ease;
	color: var(--complementario);
}
.textoPoema {
	text-align: center;
	/*background-color: green;*/
	padding: 5%;
	overflow: auto;
}
.textoPoema::-webkit-scrollbar {
	width: 3px;
}
.textoPoema::-webkit-scrollbar-thumb {
	/*background-color: white;*/
	width: 5px;
	border-radius: 10px;
	background-color: var(--complementario);
}

.Fondo {
	background-color: black;
	color: white;
}
.container {
	width: 200px;
	height: 100px;
	/*background-color: aqua;*/
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.caja1 {
	width: 90px;
	/*background-color: gray;*/
	animation: sol 4s infinite linear;
	position: absolute;
	transition: 1s ease;
	bottom: 10px;
	left: 10px;
}
@keyframes sol {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.caja2 {
	width: 100px;
	/*background-color: green;	;*/
	transition: 1s ease;
	position: absolute;
	bottom: 0;
	right: 50px;
	z-index: 9;
	cursor: pointer;
}
.caja3 {
	width: 60px;
	/*background-color: gray;*/
	position: absolute;
	transition: 1s ease;
	bottom: 20px;
	right: 30px;
	animation: moon 2s infinite linear alternate;
	filter: drop-shadow(0 0 10px white);
}
.flecha {
	position: fixed;
	z-index: 999999;
	bottom: 2%;
	right: 2%;
	width: 60px;
	height: 60px;
	background-image: url("../Imagenes/Casita.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
	/*filter: invert(1);*/
}
.active1 {
	bottom: -10px;
	left: 40px;
	height: 0px;
}
.active2 {
	bottom: 10px;
	right: 40px;
	height: 0px;
}
@keyframes earth {
	from {
		background-position: left center;
	}
	to {
		background-position: 991.25px center;
	}
}
@keyframes avion {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes moon {
	0% {
	}
	100% {
		transform: translateY(-5%);
	}
}
@media (max-width: 800px) {
	body {
		font-size: 0.5rem;
	}
	.tituloPrincipal {
		font-size: 1rem;
	}
	.subtituloPrincipal {
		font-size: 0.9rem;
	}
	.mensajeMes {
		width: 80%;
	}
	.apartado1 {
		/*background-color: red;*/
		flex-direction: column;
		margin: 3vh 0 3vh 0;
	}
	.apartado2 {
		/*background-color: red;*/
		flex-direction: column;
	}
	.Poema {
		width: 100%;
		height: 40%;
		justify-content: start;
	}
	.Izquierda {
		width: 100%;
		height: 60%;
	}
	.subTitle {
		font-size: 0.7rem;
		margin: 4% 0 4% 0;
	}
	.ImgSp {
		height: 50px;
		width: 50px;
	}
	.container {
		display: none;
	}
	.solLuna {
		display: flex;
		height: 100%;
		width: 10%;
		justify-content: center;
	}
	.Sol {
		background-image: url("../Imagenes/Sun.svg");
		width: 100%;
		height: auto;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.Luna {
		background-image: url("../Imagenes/Moon.svg");
		width: 60%;
		height: auto;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: none;
	}
	.spotify {
		margin-right: 2%;
	}
	.earth {
		width: 250px;
		height: 250px;
	}
	.boxAirplane,
	.boxAirplane2 {
		width: 280px;
		height: 280px;
	}
	.boxAirplane2::after,
	.boxAirplane::after {
		top: 0px;
		width: 50px;
		height: 50px;
	}
	.flecha {
		width: 30px;
		height: 30px;
	}
}
