:root {
	--fondo: #f7f7f7;
	--principal: #79af95;
	--secundario: #79aeaf;
	--principal-claro: #9fcfb3;
	--complementario: #af7993;
	--morado: #7a79af;
	--cafe: #af9579;
	--number1: 4deg;
	--number2: -4deg;
	--height: 200vh;
}
* {
	padding: 0;
	margin: 0;
}
body {
	height: var(--height);
	font-family: "Montserrat";
	font-size: 16px;
	background-color: var(--fondo);
	/*color: white;*/
}
body::-webkit-scrollbar {
	width: 6px;
}
body::-webkit-scrollbar-thumb {
	/*background-color: white;*/
	width: 5px;
	border-radius: 5px;
	background-color: var(--secundario);
}
.header {
	width: 100%;
	height: 20vh;
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--fondo);
	z-index: 10000;
}
.head {
	width: 90%;
	height: 100%;
	font-family: "Montserrat";
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--principal);
}
.spotify {
	margin-right: 5%;
}
.ImgSp {
	width: 100px;
	height: 100px;
	/*background-color: green;*/
}
.titulos {
	text-align: center;
}
.tituloPrincipal {
	text-decoration: none;
	color: var(--principal);
	cursor: text;
	font-size: 30px;
}
.subtituloPrincipal {
	font-size: 25px;
	color: var(--complementario);
}
.Contenedor_main {
	/*background-color: green;*/
	width: 100%;
	height: var(--height);
	display: flex;
}
.sideBar {
	width: 5%;
	height: 100%;
	/*background-color: aqua;*/
	display: none;
}
.Iconos {
	width: 100%;
	height: 50%;
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.icono_casa {
	width: 40%;
	cursor: pointer;
}
.main {
	width: 100%;
	height: 100%;
	/*background-color: #000;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.apartado1 {
	width: 90%;
	height: 70vh;
	display: flex;
	border-radius: 20px;
	transition: ease 1s;
	margin: 5vh 0 25vh 0;
	/*display: none;*/
}
.apartado1:hover {
	box-shadow: 0px 0px 30px 0px var(--secundario);
}
.apartado1:hover .subTitle {
	color: var(--secundario);
}
.apartado2 {
	width: 90%;
	height: 70vh;
	/*background-color: violet;*/
	display: flex;
	border-radius: 20px;
	transition: ease 1s;
	margin: 25vh 0 0vh 0;
}
.apartado2:hover {
	box-shadow: 0px 0px 30px 0px var(--morado);
}
.apartado2:hover .subTitle {
	color: var(--morado);
}
.Izquierda {
	width: 55%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 20px 0px 0px 20px;
	transition: 1s ease;
}
.Img1 {
	/*background-color: green;*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease 1s;
	border-radius: 20px 0px 0px 0px;
}
.imagen1 {
	/*horizontal-Images*/
	/*width: 80%;*/
	/*Vertical-Image*/
	width: 80%;
	border-radius: 50px;
	object-fit: cover;
	transition: ease 1s;
	background-color: green;
	opacity: 0.7;
}
.Poema {
	height: 100%;
	width: 45%;
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: ease 1s;
	border-radius: 0px 20px 20px 0px;
	transition: 1s ease;
}
.subTitle {
	/*background-color: green;*/
	text-align: center;
	margin: 10% 0 10% 0;
	font-size: 18px;
	transition: 2s ease;
	color: var(--complementario);
}
.textoPoema {
	text-align: center;
	/*background-color: green;*/
	padding: 0% 10% 0% 10%;
	overflow: auto;
}
.textoPoema::-webkit-scrollbar {
	width: 3px;
}
.textoPoema::-webkit-scrollbar-thumb {
	/*background-color: white;*/
	width: 5px;
	border-radius: 10px;
	background-color: var(--complementario);
}

.Fondo {
	background-color: black;
	color: white;
}
.container {
	width: 200px;
	height: 100px;
	/*background-color: aqua;*/
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.caja1 {
	width: 90px;
	/*background-color: gray;*/
	animation: sol 4s infinite linear;
	position: absolute;
	transition: 1s ease;
	bottom: 10px;
	left: 10px;
}
@keyframes sol {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.caja2 {
	width: 100px;
	/*background-color: green;	;*/
	transition: 1s ease;
	position: absolute;
	bottom: 0;
	right: 50px;
	z-index: 9;
	cursor: pointer;
}
.caja3 {
	width: 60px;
	/*background-color: gray;*/
	position: absolute;
	transition: 1s ease;
	bottom: 20px;
	right: 30px;
	animation: moon 2s infinite linear alternate;
	filter: drop-shadow(0 0 10px white);
}
.active1 {
	bottom: -10px;
	left: 40px;
	height: 0px;
}
.active2 {
	bottom: 10px;
	right: 40px;
	height: 0px;
}
@keyframes moon {
	0% {
	}
	100% {
		transform: translateY(-5%);
	}
}
@media (max-width: 800px) {
	.tituloPrincipal {
		font-size: 15px;
	}
	.subtituloPrincipal {
		font-size: 14px;
	}
	.apartado1 {
		/*background-color: red;*/
		flex-direction: column;
		margin: 3vh 0 3vh 0;
	}
	.apartado2 {
		/*background-color: red;*/
		flex-direction: column;
	}
	.Poema {
		width: 100%;
		height: 40%;
		justify-content: start;
	}
	.Izquierda {
		width: 100%;
		height: 60%;
	}
	.Img1 {
		/*background-color: green;*/
		width: 100%;
	}
	.imagen1 {
		height: 90%;
	}
	.subTitle {
		font-size: 13px;
		margin: 4% 0 4% 0;
	}
	.ImgSp {
		height: 50px;
		width: 50px;
	}
	.spotify {
		margin-right: 2%;
	}
	.container {
		display: none;
	}
}
